h1 {color: #DF0101}
h2 {color: #DF0101}
h4 {color: black}
h6 {color: #DF0101}
p{text-align : justify;}
div {background-color:#BDBDBD; 
	width: 400px; 
	height: 400px; 
 	border: 1px solid #d0d0d0;
	z-index:1;
	filter:alpha(opacity=75); 
	opacity:0.75;
}
legend {color: #DF0101; font-weight:bold;}

.blackbox:hover {
	z-index:100;
	background-color:white;
    margin-left: 20px;  /*Distancia a la que se mueve la div*/  
    transition: margin-left .9s;
    -moz-transition: margin-left .9s; /* Firefox 4 */
    -webkit-transition: margin-left .9s; /* Safari and Chrome */
    -o-transition: margin-left .9s; /* Opera */
   	width: 450px;
   	height: 450px;
   	filter:alpha(opacity=100);
   	opacity:1;
   	
}

